{% extends "base.html" %}
{% block content %}

    <h2>COINVUEEE</h2>

    <div class="containter-fluid">
        <div class="row justify-content-center">
            <div class="col-11">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">24h %</th>
                        <th scope="col">Market Cap</th>
                        <th scope="col">Volume (24h)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Bitcoin BTC</td>
                        <td>$40511.32</td>
                        <td>-1.69 %</td>
                        <td>$792,668,009,879</td>
                        <td>$43,477,239,080</td>
                        <!-- (Placeholder) -->
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Ethereum ETH</td>
                        <td>2,911.06</td>
                        <td>-4.23 %</td>
                        <td>$342,585,741,859</td>
                        <td>$28,228,581,101</td>
                        <!-- (Placeholder) -->
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Tether USDT</td>
                        <td>$1.00</td>
                        <td>-0.70%</td>
                        <td>$58,562,507,606</td>
                        <td>$76,190,053,128</td>
                        <!-- (Placeholder) -->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}