{% extends "base.html" %}
{% block content %}


<div class="containter-fluid">
    <div class="row justify-content-center">
        <div class="col-4 user-box">
            <h1>Log in</h1>
            <form>
                <input placeholder="Email" class="user">
                <br>
                <input placeholder="Password" class="user">
                <br>
                <button type="submit">Click here to log in</button>
                <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up here</a></p>
            </form>
        </div>
    </div>
</div>


{% block account %}
{% endblock %}


{% endblock %}