{% extends "base.html" %}
{% block content %}

<h1>HGello</h1>

<!-- Porfolio overview -->

<div class="container-fluid">
    <div class="row my-portfolio justify-content-center">
        <div class="col-4">
            <p>Portfolio #1</p>
            <!-- PLACEHOLDER   Will change to dropdown menu -->
            <h2>$7318.09</h2>
            <!-- PLACEHOLDER   Portfolio value -->
            <h4>- $129.10  24h</h4>
            <!-- PLACEHOLDER   Portfolio daily change in value -->
        </div>

        <div class="col-4">
            <button>Edit Porfolio</button>
            <button>+ Add New</button>
            <h3>24H | 7D | 30D | 90D | ALL</h3>
            <!-- PLACEHOLDER   Will change to button crossbar -->
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8">
            <img src="https://images.squarespace-cdn.com/content/v1/55b6a6dce4b089e11621d3ed/1585087896250-R3GZ6OFWYQRZUJRCJU3D/produce_monthly.png"
            alt="Chart placeholder" height="500px" width="1400px"> 
            <!-- PLACEHOLDER   Chart placeholder -->
        </div>
    </div>
</div>

<!-- Porfolio overview -->

{% endblock %}